<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dd{
            border: 5px solid rgb(4, 5, 94);
            font-weight: bolder;
            font-size: medium;
            padding: 5px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <header style="background-color: black; color: aquamarine;
        font-size: larger; font-weight: bolder; padding: 20px; margin-bottom: 20px; text-align: center;">

        Welcome to my Library

    </header>

    {% block content %}
      
    {% endblock  %}
    <footer style="background-color: black; color: aquamarine;
        font-size: larger; font-weight: bolder; padding: 20px; margin-top: 20px;text-align: center;">

        Goodbye

    </footer>
</body>
</html>