{% extends "Bookapp/index.html" %}

{% block content %}


<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item font-weight-bold"> 
            <a href="{% url 'list_all_departments' %}">Departments</a>
        </li>
        <li class="breadcrumb-item font-weight-bold active"> {{Department.name}}</li>
    </ol>
    
</div>

<div class="container">
    <table class="table table-border table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Publication Year</th>
            </tr>
        </thead>
        {% for book in Department.books.all  %}
            <tr>
                <td> {{book.name}} </td> 
                <td> {{book.author}} </td>
                <td> {{book.year}} </td>
            </tr>  
        {% endfor %}
    </table>
</div>

{% endblock %}
