{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dd{
            border: 5px solid rgb(4, 5, 94);
            font-weight: bolder;
            font-size: medium;
            padding: 5px;
            border-collapse: collapse;
        }
    </style>

    <link rel="stylesheet" href="{% static 'Bookapp\CSS\bootstrap.min.css' %}">
</head>
<body>

    <div class="row">
        <div class="col-md-10 font-weight-bolder" style="text-shadow: 2px 2px 20px brown;">
            Welcome to my Library
        </div>
        <div class="col-md-2 font-weight-bolder">
            {% if user.is_authenticated %}
                Welcome <span class="text-success">{{user.username}}</span>
            {% else %}
                <a href="{% url 'sign_up_to_library' %}" class="text-danger"> Sign up</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
      
    {% endblock  %}
    <footer style="background-color: black; color: aquamarine;
        font-size: larger; font-weight: bolder; padding: 20px; margin-top: 20px;text-align: center;">

        Goodbye

    </footer>
</body>
</html>