{% extends "Bookapp/index.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>The Largest Library in the middle East</h1>
    <p>you can find any Book about computing</p>

</div>

<div class="container">
    <div class="row">
        {% for dept in departments  %}

            <div class="col-sm-4">
                <h4> 
                    <a href="{% url 'display_department'  dept.pk %}">
                        {{dept.code}} 
                        {{dept.name}}
                    </a>
                    </h4>
                <hr class="my-1">
                <h6 class="text-muted">{{dept.dept_date}}</h6>
                <p>{{dept.description}}</p>
            </div>
        {% endfor %}
    </div>

</div>

<div class="container">
    <a href="{% url 'add_new_department' %}" class="btn btn-danger">
        Add New Department
    </a>
</div>

{% endblock %}
