{% extends "Bookapp/index.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron text-center">
    <h1>The Largest Library in the middle East</h1>
    <p>you can find any Book about computing</p>

</div>

<div class="container">

    <form action="/NewDepartment/" method="POST">
        {% csrf_token %}

        <div class="row"> 
            <div class="col-4">
                {{form.code | as_crispy_field}}
            </div>
            <div class="col-8">
                {{form.name | as_crispy_field}}
            </div>
            <div class="col-12">
                {{form.description | as_crispy_field}}
            </div>
        </div>
        
        <input type="submit" value="Add New Department">
    </form>
   

</div>


{% endblock %}
